.bici-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    gap: 4px;
    width: 55px !important;
    height: 40px !important;
    border-radius: 50% 0% 50% 0%;
    font-weight: bold;
    font-size: large;
    color: black;
}

.bici-icon.gray {
    opacity: 0.6;
    background: var(--chakra-colors-gray-50);
    border: 3px solid var(--chakra-colors-gray-300);
}

.bici-icon.green {
    opacity: 1;
    background: var(--chakra-colors-green-50);
    border: 3px solid var(--chakra-colors-green-300);
}

.bici-icon.yellow {
    opacity: 1;
    background: var(--chakra-colors-yellow-50);
    border: 3px solid var(--chakra-colors-yellow-300);
}

.bici-icon.red {
    opacity: 1;
    background: var(--chakra-colors-red-50);
    border: 3px solid var(--chakra-colors-red-300);
}

.bici-icon svg {
    height: 80%;
}

.leaflet-marker-icon {
    background: none;
    border: none;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: .5;
    }

    50% {
        opacity: .7;
    }

    85% {
        transform: scale(3);
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}


.point {
    background: var(--chakra-colors-blue-300);
    border: 2px solid var(--chakra-colors-blue-500);
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 50%;
    position: absolute;
}

.pulse {
    border: 1px solid var(--chakra-colors-blue-400);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    animation: pulse 2s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: var(--chakra-colors-blue-400) 0px 0px 3px 0px;
}
